// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "flat-ui";

body {
	background-color: #27ae60;

}
#spacer {
	background-color: #ecf0f1;
	width: 400px;
	padding: 80px 20px;
	height: 300px;
	border-radius: 20px;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#formCS {
	text-align: center;
	margin-top: 40px;
	#submit {
		padding: 20px;
		border-radius: 5px;
	}
}

#logo {
	text-align: center;
	margin: 0 auto;

}
.resp {
	color:white;
	text-align: center;
}
.hidden {
	display: none;
}

